body{
    background-color: aliceblue;
}

/*
   * Utilities
   */

   .border-top {
    border-top: 1px solid #e5e5e5;
  }
  
  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }
  
  td, th, a {
    text-align: center;
  }
  
  li {
    display: flex;
    justify-content: center;
  }
  
  .opHeader {
    display: flex;
    
  }
  
  #addAccount svg {
    width: 100%;
    height: 100;
    color: hsl(125, 87%, 47%);
  }